.about {
  background-color: var(--neutral-100);
}

.content {
  max-width: 800px;
}

.story {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--foreground);
}

.motivation {
  font-size: 1.125rem;
  color: var(--neutral-800);
}
